@import "../variables.css";
.product-card {
  width: 90%;
  max-width: 321px;
  aspect-ratio: 321 / 606;

  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  padding: 8% 5%;
  font-family: var(--font-primary);

  box-shadow: var(--shadow-card);
  transition: all 0.3s ease;
}

.product-card:hover {
  transform: scale(1.03);
  box-shadow: 0px 12px 35px rgba(0, 0, 0, 0.12);
}

/* IMAGE */
.image-wrapper {
  width: 100%;
  max-width: 275px;
  aspect-ratio: 1 / 1;

  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: var(--shadow-image);
}

.image-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* TEXT */
.product-info {
  text-align: center;
  color: var(--color-black);
  width: 100%;
}

.product-title {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: var(--font-weight-bold);
  margin-bottom: 4%;
}

.product-dimensions {
  font-size: clamp(14px, 1.8vw, 16px);
  color: var(--color-gray);
  margin-bottom: 6%;
}

.product-price {
  font-size: clamp(22px, 3vw, 28px);
  font-weight: var(--font-weight-bold);
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}