@import "../variables.css";

.custom-button {
  width: 275px;
  height: 75px;
  border: 2px solid var(--color-black);
  background-color: transparent;
  color: var(--color-black);
  font-family: var(--font-primary);
  font-size: var(--font-size-lg);
  font-weight: var(--font-weight-medium);
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-button:hover {
  background-color: var(--color-black);
  color: var(--color-white);
}

/* Responsive */
@media (max-width: 768px) {
  .custom-button {
    width: 100%;
    height: 65px;
  }
}

@media (max-width: 480px) {
  .custom-button {
    height: 60px;
    font-size: var(--font-size-md);
  }
}